#root {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.App {
  max-width: 300px;
}
.returned-age {
  margin-top: 20px;
}
footer {
  margin-top: 200px;
}
